extends layout

block body-content
    script(type='text/javascript').
        $.getJSON("/api/status", function(components) {
            $('table.service-table').empty();
                var body = $('<tbody>');
                $('table.service-table').append(body);
            for (var component in components) {
                var name = component;

                
                var row = $('<tr>')
                body.append(row);
                var img = $('<img>').attr('id', 'status-' + name + '-icon');
                var ico = $('<td>').addClass('icon').append(img);
                row.append(ico);
                var hubName = $('<td>').addClass('service').text(name);
                row.append(hubName);
                var stat = $('<td>').attr('id', 'status-' + name)
                row.append(stat);

                if(components[component] == 1) {
                    $("#status-" + component).html("Up");
                    $("#status-" + component).css("color", "#089a00");
                    $("#status-" + component + "-icon").attr('src', "images/up.png");
                } else if (components[component] == 0) {
                    $("#status-" + component).html("Down");
                    $("#status-" + component).css("color", "#ff1600");
                    $("#status-" + component + "-icon").attr('src', "images/down.png");
                } else {
                    $("#status-" + component).html("Updating...");
                    $("#status-" + component + "-icon").attr('src', "images/updating.png");
                }
            }
        });

    div#content
        div.logo
            img(src='#{logo_url}')
        div.status-dashboard
            table.service-table
                //- tr
                //-     td.icon
                //-         img(src, id='status-site-icon')
                //-     td.service Site - what.cd
                //-     td#status-site
                //- tr
                //-     td.icon
                //-         img(src, id='status-tracker-icon')
                //-     td.service Tracker - tracker.what.cd
                //-     td#status-tracker
                //- tr
                //-     td.icon
                //-         img(src, id='status-irc-icon')
                //-     td.service IRC - irc.what-network.net
                //-     td#status-irc
        div.disclaimer
            p This site is unofficial and is not affiliated with What.CD.



