doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="shortcut icon", href="images/favicon_1.ico")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  body
    block body-content
    footer
      p All infos are cached. Updated every minute.
      ul
        li
          a(href="about") About
        li
          a(href="faq") FAQ
        li
          a(href="stats") Stats
        li
          a(href="https://twitter.com/pilanipirates") @PilaniPirates on Twitter