extends layout
block body-content

    script(type='text/javascript').
        $.getJSON("/api/uptime", function(components) {
            var list = $('.stats-list.uptime');
            list.empty();
            for (var component in components) {
                var name = component;
                var el = $('<li>').text('Hub - ' + name).append($('<span>').attr('id', 'stats-uptime-' + name));
                list.append(el);
                $("#stats-uptime-" + component).html(components[component] + "m" + " (" + Math.floor(components[component]/(24*60)) +" days)"); 
            }
        });

        $.getJSON("/api/records", function(components) {
            var list = $('.stats-list.record');
            list.empty();
            for (var component in components) {
                var name = component;                
                var el = $('<li>').text('Hub - ' + name).append($('<span>').attr('id', 'stats-uptimerecord-' + name));
                list.append(el);
                $("#stats-uptimerecord-" + component).html(components[component] + "m" + " (" + Math.floor(components[component]/(24*60)) +" days)"); 
            }
        });
    div#content
        h2
            a(href="/") HUBStatus.info
        h3 Current Uptime
        ul.stats-list.uptime
        h3 Best Uptime
        ul.stats-list.record